body {
  text-align: center;
  background-image: url("../images/background.png");
  background-size: cover;
  font-family: "Comic Sans MS", monospace;
  color: white;
}

h1 {
  margin: 0 auto;
  font-family: "Comic Sans MS", monospace;
  font-size: 48px;
  color: black;
  margin: 2%;
}

h2 {
  font-size: 36px;
  font-weight: lighter;
  color: black;
  margin: 2%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.wrap {
  background-image: url("../images/wood-texture.jpg");
  background-size: cover;
  flex-wrap: wrap;
  height: 456px;
  width: 456px;
}

.square {
  border: 1px solid gray;
  font-size: 96px;
  height: 150px;
  line-height: 150px;
  user-select: none;
  width: 150px;
}

.square:hover {
  background-image: url("../images/elon.png");
  background-size: cover;
  cursor: pointer;
}

#reset-button {
  background-image: url("../images/wood-texture.jpg");
  background-size: cover;
  border: 3px solid black;
  color: white;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

#reset-button:hover {
  border-color: lightgray;
  cursor: pointer;
}

#reset-button:active {
  transform: scale(0.99);
}
